---
layout: default
---

<div class="home">
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {% if post.img %}
          <img src="images/{{post.img}}" alt="position diagram" class="img-responsive">
        {% endif %}
        <p class="description">
            {% if post.description %}
                {{ post.description | strip_html | strip_newlines | truncate: 250 }}
            {% else %}
                {{ post.excerpt }}
            {% endif %}</p>
      </li>
    {% endfor %}
  </ul>
</div>
{% if paginator.total_pages > 1 %}<!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %} <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="prev">Newer Posts</a> {% endif %}
    {% if paginator.next_page %} <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">Older Posts</a>{% endif %}
  </div>{% endif %}
